/* Sofiya's CSS: nav bar */

.navbar {
  background-color: white;
  overflow: hidden;
  /* position: fixed; */
  /* top: 0;  */
  width: 100%;
  /* z-index: 100; */
}
.main {
  margin-top: 61px; /* Add a top margin to avoid content overlay */
}
body{
  font-family: "Raleway";
}
.attractions{
  margin-left:50px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  height: 48%;
  width: auto;
  display: inline-block;
  /* margin-top: -5px; */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attractions{
  left:20px;
}
.attractiontxt{
  margin-right:30px;
}
#pic{
  height:200px;
  margin-left: 175px;
  margin-right: 50px;
}
body{
  margin:0;
}
#logo{
  float: left;
  height:61px;
}
#banner{
  width:100%;
}
button{
  height:61px;
  border: none;
  outline: none;
  color: #65bebf;
  background-color: white;
  font-family: Raleway;
  margin: 0;
  width: 200px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
}
button:hover{
  background-color: #78c7c6;
  color: white;
  width:200px;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #78c7c6;
  text-align: center;
  font-family: 'Oswald';
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #78c7c6;
  color: white;
}

.topic {
  float: left;
  overflow: hidden;
  width: 200px;
}

/* Dropdown button */
.topic a {
  border: none;
  outline: none;
  padding: 14px 16px;
  float: left;
  color: #78c7c6;
  text-align: center;
  font-family: 'Oswald';
  padding:0px;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width:90px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 100;
  width: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #78c7c6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width:200px;
  font-family: Raleway;
}

/* Add a blue background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #78c7c6;
  color: white;
  width:150px;
}

/* Show the dropdown menu on hover */
.topic:hover .dropdown-content {
  display: block;
}



/* Kristy's CSS  */

h1  {
  font-family: 'Lexend Deca';
  font-size: 72px;
}
.titletxt{
  margin: auto;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lexend Deca';
  font-size: 72px;
  color: white;
}
.banner {
  position: relative;
  font-size: 80px;
}
h2 {
  font-family: 'Raleway';
  font-size: 50px;
  margin-left: 250px;
  margin-right: 250px;
  color: black;
}
h3{
  font-family: 'Lexend Deca';
  font-size: 30px;
  color:#cc0000;
}
.subtitle {
  font-family: 'Raleway';
  font-size: 28px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}
h1, h2 {
  text-align: center;
}

/* .background {
  background-image: artbackground.jpg;
  background-repeat: no-repeat;
  background-size: 50% 100%;
} */
#box {
  display: flex;
  width: 625px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.image {
    position: center;
    float: middle;
    width:  300px;
    height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 226px;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #78c7c6;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hotSpots {
  position: center;
  float: middle;
  width:  430px;
  height: 430px;
}

body {
  font-family: 'Raleway';
  font-size: 18px;
}
.eventimage {
  position: center;
  float: middle;
  width:  200px;
  height: auto;
}
.eventTitle {
  font-family: 'Lexend Deca';
  font-size: 32px;
  color: #cc0000;
  margin-top: 0px;
  margin-bottom: 5px;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  text-align: left;
}

.icon {
  height: 20px;
  width: auto;
  margin-right:10px;
}

.eventLD {
  display: flex;
}

.tabText {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.eventDescription {
  padding-right: 130px;
}

#thrift  {
  height:224.91px;
}
